body{
    background-color: rgb(241,241,242);
    overflow-x: hidden;
    
}
.firstTop {
    display: flex;
    background-color: #ffff;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: -10px;

    
}
#fill{
    position: relative;
    top: 30px;
    left: -40px
    
}


#img {
    margin-left: 70px;
    margin-top: 8px;
}

.hml{
    position: absolute;
    left: 50%;
}
#circle{
    position: relative;
    left: 35px;
    top: -20px;
}

#top1 {
    margin-top: 40px;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    color:  rgb(3, 45, 96);
    font-family: sans-serif;
    
}
#SE{
    margin-left: -5%;

}

#top11 {
    margin: 15px;
    margin-left: -50px;
    margin-top: 40px;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    color:  rgb(3, 45, 96);
    font-family: sans-serif;
    
}#top11:hover{
    color: brown;
}
#dropp{
    margin-top: 35px;
}
#acct{
    background-color: rgb(3, 45,96);
    border-radius: 15px;
    border: 0px;
    color: white;
    font-weight: 600;
}
#live{
    border: 1px;
    width: 90%;
    border-radius: 10px;
    background-color: rgb(3, 45, 96);
    color: white;
}
#live:hover{
    transform: scale(1.1);
}

#menus{
    border: 1px;
    background-color: whitesmoke;
  
}

#loged{
    color: rgb(3,45,96);
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#loged:hover{
    background-color: rgb(1,118,211);
    width: 150px;
    color: white;
    border-radius: 5px;
    font-weight: 600;
}
#top1:hover{
    color:brown;
}

.serh{
    margin-top: 30px;
    margin-left: 4%;


}
#searchin{
    margin-left: -15%;
}
#input{
    height: 50%;
    /* width: 30px; */
    border-radius: 15px;
    border-color: aqua;
}
#searching{
    margin-left: 17px;
    width: 20%;
    height: 45%;
    border-radius: 10px;
    background-color: rgb(3, 45, 96);
    font-size: 12px;
    font-weight: 700;
    color: white;
    border: 0px;
}
#searching:hover{
    color: white;
    background-color: brown;

}

#top2 {
    margin-left: 120px;
    margin-top: 25px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(3, 45, 96);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

#top2:hover {
    text-decoration: underline;

}

#top3 {
    margin-top: 30px;
    padding-top: 10px;
    border: 1px;
    height: 45px;
    width: 150px;
    margin-left: 50px;
    border-radius: 9px;
    padding-left: 45px;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    background-color: rgb(81, 155, 81);
    color: white;
    font-family: sans-serif
    
}


#top3:hover {
    background-color: black;
}



#top4 {
    padding-top: 20px;
    margin: px;

}

#inner{
    color: rgb(15, 15, 38);
    font-size: 13px;
    margin-left: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#nav2{
    margin-left: 5px;
    color: rgb(3,45,96);
    
}
.swap{
    font-size: 13px;
    margin-left: -50%;
}
#nav2:hover {
    color: rgb(1,118,214);
}
.hr{
    color: rgb(3,45,96);
}

.nas{
    margin-left: -15%;
    line-height: 20px;
    font-size: 25px;
}

#icon{
    margin-left: -80%;

}
/* #home{
    margin-left: 20px;
    color: rgb(3,45,96);
} */
#home:hover {
    color: rgb(202, 209, 214);
}


#logo{
    position: relative;
    left: -30%;
}
#hero{
    width: 60%;
    position: relative;
    left: 23%;
}
#input{
    width: 200px;
}
.marquee{
    width: 70%;
    color: rgb(3,45,96);
    font-family: cursive;
    margin-top: 15%;
    font-size: 19px;
}
#phone2{
    color: rgb(58, 10, 10);
    
}
#phone{
    margin-left: -20%;
}
.nun{
    color: blue;
}

.spann{
    color: rgb(22, 1, 1);
}

#LOGO{
    color: blue;
}
#book{
    margin-left: 25%;
}
#nas1{
    width: 100%;
    height: 250px;

}
#pic1{
    height: 50%;
    width: px;
    margin-left: 5%;
    border-radius: 20px;
}
#radio{
    border-radius: 10px;

}

#roww{
    margin-top: 20%;
}
#pic1:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#pic2{
    height: 50%;
    border-radius: 20px;
}

#pic2:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#pic3{
    height: 50%;
    width: 240px;
    margin-left: 5%;
    border-radius: 10px;
}

#pic3:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#pic4{
    width: 110%;
    margin-left: -5%;
}
#pic4:hover {
    transform: scale(1.1);
    cursor: pointer;
    
}
#pic22{
    width: 100%;
    margin-left: 2%;
    border-radius: 20px;
}
#pic22:hover{
    transform: scale(1.1);
    cursor: pointer;

}
#pic11{
    border-radius: 20px;
    width: 160px;
}

#pic11:hover{
    transform: scale(1.1);
    cursor: pointer;

}

.video{
    border: 1px solid;
    border-radius: 30px;
    background-color: rgb(3,45,96);
    margin-top: 5%;
    width: 50%;
    margin-left: 25%;
    box-shadow: 1px 1px 1px 7px rgb(3,45,96);

}
#vid{
    margin-left: 28%;
    width: 40%;
}
#para{
    color: rgb(3,45,96);
    font-size: 12px;
    font-weight: 700;
}

#myH{
    margin-top: 8%;
    color: rgb(3, 45, 96);
}



#watch {
    
    position: relative;
    color:  rgb(3,45,96);
    font-weight: 600;
    font-size: 18px;
    background-color: rgb(21,115,71);
    top: 15px;
    left: 80px;
    border: 1px;
    width: 80px;
    height: 50px;
    border-radius: 50px;
    
}

.wath{
    color: white;
    text-decoration: none;
}

#watch:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(20, 23, 22);
}
#watch1:hover{
        color: rgb(255, 255, 255);
    background-color: rgb(20, 23, 22);
}
#watch1 {
    
    position: relative;
    color:  rgb(3,45,96);
    font-weight: 600;
    font-size: 15px;
    background-color: rgb(21,115,71);
    top: 9px;
    left: 90px;
    border: 1px;
    width: 80px;
    height: 50px;
    border-radius: 50px;
    
}
.wathh{
    color: white;
    text-decoration: none;
}
#watch {
    
    position: relative;
    color:  rgb(3,45,96);
    font-weight: 600;
    font-size: 18px;
    background-color: rgb(21,115,71);
    top: 9px;
    left: 80px;
    border: 1px;
    width: 80px;
    height: 50px;
    border-radius: 50px;
    
}



#watch2:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(20, 23, 22);
}
/* #watch2:hover{
        color: rgb(255, 255, 255);
    background-color: rgb(20, 23, 22);
} */
#watch2 {
    
    position: relative;
    color:  rgb(3,45,96);
    font-weight: 600;
    font-size: 15px;
    background-color: rgb(21,115,71);
    top: 13px;
    left: 15px;
    border: 1px;
    width: 80px;
    height: 50px;
    border-radius: 50px;
    
}
.wathhT{
    color: white;
    text-decoration: none;
}
#watch3 {
    
    position: relative;
    color:  rgb(3,45,96);
    font-weight: 600;
    font-size: 15px;
    background-color: rgb(21,115,71);
    top: 13px;
    left: 20%;
    border: 1px;
    width: 80px;
    height: 50px;
    border-radius: 50px;
    
}
#watch3:hover{
    color: rgb(255, 255, 255);
    background-color: black;
}
#para2{
    margin-left: 30%;
    font-size: 18px;
    font-weight: 600;
    color: rgb(1,118,214);
}



.busOne {
    margin-left: 20%;
    font-size: 18px;
    margin-top: 20px;
    color:  rgb(3,45,96);
    font-weight: 700;
}

.bus{
    padding-left: 10%;
    font-size: 18px;
    margin-top: 20px;
    color:  rgb(3,45,96);
    font-weight: 700;

}


.busTwo {
    padding-left: 30%;
    font-size: 18px;
    margin-top: 20px;
    color:  rgb(3,45,96);
    font-weight: 700;
}


.busThree {
    margin-left: 20%;
    font-size: 20px;
    margin-top: 20px;
}
.appone {
    color: rgb(1,118,214);
    font-size: 15px;
    font-weight: 600;
    margin-left: 20%;
    

}
.apptwo{
    margin-left: 30%;
    font-size: 15px;
    font-weight: 600;
    color: rgb(1,118,214);
}
.appthree{
    color: rgb(1,118,214);
    font-size: 15px;
    font-weight: 600;
    margin-top: 8%;

}
#form{
    color: rgb(1,118,214);
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}
#form2{
    color: rgb(1,118,214);
    font-size: 17px;
    font-weight: 600;
    padding-left: 15%;
}

#form3{
    color: rgb(1,118,214);
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}

#row{
    margin-top: 10%;
}

#row1{
    margin-left: 19%;
    margin-top: 5%;
}

#row2{
    margin-left: 19%;
    margin-top: 2%;
}
#row3{
    margin-left: 19%;
    margin-top: 2%;
}
#promax:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#cardd{
    border: 0px;
    border-radius: 25px;
    background-color: white;
    
}

#hIP{
    color: rgb(3,45,96);
    font-weight: 700;
    margin-left: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#para1{
    font-size: 20px;
    font-weight: 300;
    color: rgb(1,118,211);
    margin-left: 30px;
}
#myHh{
    color: rgb(3,45,96);
    font-weight: 700;
    margin-top: 10%
}
#os{
    margin-left: 33%;
    margin-top: 5%;
    border: 0px;
    width: 450px;
}
#deal{
    font-size: 20px;
    color: rgb(12, 105, 220);
}
#promax1{
    margin-left: 20%;
}
#promax1:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#herd{
    margin-top: 10%;
    border: 0px;
}
#pod{
    color: white;
    font-weight: 700;
    margin-left: 29%;
    margin-top: 10%;
    font-size: 100px;
    line-height: 70px;

}
#airpod{
    width: 70px;

}
#airpod2{
    width: 70px;
    margin-left: 5%;
}
#compare{
    margin-left: 25%;
    margin-top: 10%;
}
#compare:hover{
    transform: scale(1.2);
}
#compar1{
    position: relative;
    left: 3%;
    height: 400px;
   
}
#compar2{
    height: 400px;
    margin-left: 5%;
    
}
#compar3{
    height: 400px;
    margin-left: 2%;
    
    
}
.busOnE {
    margin-left: 35%;
    font-size: 18px;
    margin-top: 20px;
    color:  rgb(3,45,96);
    font-weight: 700;
}
#formm{
    color: rgb(1,118,214);
    font-size: 17px;
    font-weight: 600;
    margin-left: 30%;
    margin-top: 5%;
}


.busTwO {
    margin-left: 35%;
    font-size: 18px;
    margin-top: 20px;
    color:  rgb(3,45,96);
    font-weight: 700;
}
#button {
    
    position: relative;
    color:  rgb(3,45,96);
    font-weight: 600;
    font-size: 18px;
    background-color: rgb(21,115,71);
    top: 15px;
    left: 33%;
    border: 1px;
    width: 80px;
    height: 50px;
    border-radius: 50px;
    
}
#button:hover{
    background-color: black;
    color: rgb(202, 209, 214);

}
#Airp{
    margin-top: 8%;
    font-weight: 700;
    color: rgb(3, 45, 96);
    font-family: sans-serif;
    font-size: 50px;
}
#local{
    width: 9%;
    height: 40px;
    margin-left: 42%;
    margin-top: 5%;
}
#HELP{
    margin-top: 5%;
    border: 0px;
}
#fast{
    padding-left: 32%;
    font-weight: 500;
    color: rgb(1,118,214);
}
#fast1{
    padding-left: 12%;
    font-size: 15px;
    color: rgb(3,45,96);
    font-weight: 400;
    font-size: 17px;
}
#click{
    font-size: 18px;
    
}
#click:hover{
    color: seagreen;

}
.head{
    width: 100%;
    height: 300px;
    background-color: blue;
    
    
}
#leefs{  
    height: 30vw;
    display: flex;
    gap: 30px;
    padding: 20px;
    margin-top: 90px;
    background-color: rgb(1,118,211);
}
#child{
    margin-top: 40px;
    width: 20vw;
    text-align: left;
}
#img11{
    border: 1px solid rgb(222, 228, 234);
    border-radius: 20px;
    margin-left: 10%;
}
#down1{
    font-size: 16px;
    position: relative;
    top: 2%;
    left: 8%;
    color: white;

    

}

#down2{
    font-size: 15px;
    color:  rgb(238, 240, 243);
    position: relative;
    top: 15px;
    left: 8%;
    

}
#down2:hover{
    color: rgb(14, 16, 17);
}

#carry{
    margin-top: 15px;
    margin-left: 15%;
}
.move{
    margin-top: 30px;
}
#paraa {
    margin-top: -20px;
    padding: 0px;
    
}
#span1{
    font-size: 20px;
    color: rgb(3, 45,96);
    font-family: 'Times New Roman', Times, serif;
}
#desk{
   text-decoration: none;
   color: white;

}
#desk:hover{
    text-decoration: underline;
    color: rgb(3, 45, 96);
}
#desk{
    font-size: 12px;
    color: rgb(245, 237, 237);
    font-size: 17px;
    font-weight: 400;
    position: relative;
    top: 10%;
    line-height: 40px;
}
#child1{
    background-color: rgb(241, 241, 245);
    width: 30%;
    height: 78%;
    margin-top: 50px;
    border-radius: 9px;
    box-shadow: 1px 1px 1px 4px rgba(245, 246, 248, 0.412);

}
/* ::placeholder{
    width: 150px;
    height: 50px;
} */
#holder{
    margin-left: 15%;
    height: 70px;
    width: 300px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    margin-top: 3%;
    border: 1px solid rgba(0, 198, 198, 0.548);
    border-radius: 5px;

    
}
#span11{
    color: rgb(3, 45, 96);
    position: relative;
    font-size: 17px;
    font-weight: 600;
    left: 20%;
    top: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
}
.email{
    margin-left: 15%;
    font-size: 16px;
    font-weight: 500;
    color: rgb(1,118,211);
    margin-top: 30px;
    
}
#now{
    margin-left: 15%;
    width: 75%;
    height: 50px;
    background-color: rgb(3, 45, 96);
    color: white;
    font-weight: 700;
    border-radius: 6px;
    border: 0px;
}
#now:hover{
    background-color: rgb(1,118,211);
    color: black;
}
.myhr{
    width: 80%;
    margin-left: 10%;
    color: rgb(159, 29, 29);
}
.upper{
    height: 10vh;
}
.yak{
    position: relative;
    left: 80%;
    top: -25px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(3, 45, 96);
    font-family: cursive;

}
#yak{
    font-size: 15px;
    text-decoration: none;

}
#yak:hover{
    color: green;
}
.copy{
    margin-left: 10%;
    font-size: 17px;
    font-weight: 400;
    color: rgb(3, 45, 96);

}
#na{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    margin-left: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#na:hover{
    color: rgb(3, 45, 96);
    text-decoration: underline;

}
#locate{
    margin-top: 10%;
}
#block{
    color: rgb(230, 205, 205);
    text-decoration: none;
    
}
#block:hover{
    color: rgb(3, 45, 96);
    text-decoration: underline;
}

