body{
    background-color: rgb(241,241,242);
}
.firstTop {
    display: flex;
    background-color: #ffff;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: -10px;

    
}




#img {
    margin-left: 25px;
    margin-top: 8px;
}

#top1 {
    margin: 15px;
    margin-top: 40px;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    color: rgb(3, 45, 96);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
#top1:hover{
    color: rgb(1,118,211);
}
.reg{
    margin-top: 40px;
    text-decoration: none;
    color: rgb(3, 45, 96);
    font-size: 15px;
    font-weight: 700;
}
.reg:hover{
    color: rgb(1,118,211);
}
.serh{
    margin-top: 30px;
    margin-left: 3%;


}
#searchin{
    margin-left: -15%;
}
#input{
    height: 50%;
    border-radius: 15px;
    border-color: aqua;
}
#searching{
    margin-left: 20px;
    width: 25%;
    height: 40%;
    border-radius: 10px;
    background-color: aqua;
    font-size: 12px;
    font-weight: 700;
}

#top2 {
    margin-left: 100px;
    margin-top: 25px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(3, 45, 96);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

#top2:hover {
    text-decoration: underline;

}

#top3 {
    margin-top: 30px;
    padding-top: 10px;
    border: 1px;
    height: 45px;
    width: 150px;
    margin-left: 50px;
    border-radius: 9px;
    padding-left: 45px;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    background-color: rgb(81, 155, 81);
    color: white;
    font-family: sans-serif
    
}

#top3:hover {
    background-color: black;
}



#top4 {
    padding-top: 20px;
    margin: px;

}

#inner{
    color: rgb(15, 15, 38);
    font-size: 13px;
    margin-left: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#nav2{
    margin-left: 5px;
    color: rgb(3,45,96);
    
}
.swap{
    font-size: 13px;
}
#nav2:hover {
    color: rgb(1,118,214);
}
.hr{
    color: red;
}

.nas{
    margin-left: -15%;
    line-height: 20px;
    font-size: 25px;
}

#icon{
    margin-left: -80%;

}
#home{
    margin-left: 20px;
    color: rgb(3,45,96);
}
#home:hover {
    color: rgb(202, 209, 214);
}


#logo{
    position: relative;
    left: -30%;
}
#input{
    width: 200px;
}
.marquee{
    width: 70%;
    color: rgb(3,45,96);
    font-family: cursive;
    margin-top: 10%;
    font-size: 19px;
}
#phone2{
    color: rgb(58, 10, 10);
    
}
#phone{
    margin-left: -20%;
}
.nun{
    color: blue;
}

.spann{
    color: rgb(22, 1, 1);
}

#LOGO{
    color: blue;
}
#book{
    margin-left: 25%;
}
#nas1{
    width: 100%;
    height: 250px;

}
#pic1{
    height: 58%;
    width: 287px;
    margin-left: -5%;
}
#pic2{
    height: 58%;
}
#pic3{
    height: 58%;
    width: 288px;
    margin-left: -5%;
}

#iphonee{
    margin-left: 18%;
}
.video{
    border: 1px solid;
    border-radius: 30px;
    background-color: black;
    margin-top: 5%;
    width: 50%;
    margin-left: 25%;
}
#vid{
    margin-left: 28%;
    width: 40%;
}